# Python/Django specific ignores
__pycache__/
*/__pycache__/

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.egg-info/
celerybeat-schedule
.env
*/__pycache__/*.pyc
backend/api/migrations/*


%ProgramData%/


# Node.js/React Native specific ignores
node_modules/
ios/Pods/
ios/build/
ios/Podfile.lock
ios/Podfile.pbxproj
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/res/reactnative.config.js
android/app/src/main/java/com/yourapp/MainApplication.java
android/app/src/main/java/com/yourapp/MainActivity.java
android/app/src/main/java/com/yourapp/generated/
android/app/src/main/java/com/facebook/react/generated/

# Expo and React Native stuff
.expo/
node_modules/
*.log
*.lock
__pycache__/
*.pyc


# Compiled source
lib/
bin/
*.so
*.dll
*.pyd

# Local development files
.env.local

# macOS
.DS_Store

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
